@model SistemaCE.Models.Estudiante

@{
    ViewData["Title"] = "Eliminar Estudiante";
}
<link rel="stylesheet" href="~/css/delete_global.css" />
<div class="page-container">

    <div class="card-delete">

        <div class="title">Eliminar Estudinate</div>
        <div class="subtitle">Esta acción no se puede deshacer</div>

        <div class="warning-box">
            ⚠️ ¿Estás seguro de eliminar este registro?
        </div>

        <div class="grid">

            <div class="item">
                <div class="label">Matricula</div>
                <div class="value">@Model.Matricula</div>
            </div>

            <div class="item">
                <div class="label">Fecha Ingreso</div>
                <div class="value">@Model.FechaIngreso</div>
            </div>

            <div class="item">
                <div class="label">Estatus</div>
                <div class="value">@Model.Estatus</div>
            </div>

            <div class="item">
                <div class="label">Grupo</div>
                <div class="value">@Model.IdGrupoNavigation?.IdGrupoBaseNavigation?.Nombre</div>
            </div>

            <div class="item">
                <div class="label">Persona</div>
                <div class="value">@Model.IdEstudianteNavigation?.Nombre @Model.IdEstudianteNavigation?.ApellidoPaterno @Model.IdEstudianteNavigation?.ApellidoMaterno</div>
            </div>


        </div>

        <form asp-action="Delete" class="actions">
            <input type="hidden" asp-for="IdEstudiante" />

            <a asp-action="Index" class="btn btn-back">← Cancelar</a>
            <input type="submit" value="Eliminar" class="btn btn-delete" />
        </form>

    </div>

</div>