@model SistemaCE.Models.Estudiante

@{
    ViewData["Title"] = "Detalles Estudiante";
}

<link rel="stylesheet" href="~/css/details_global.css" />
<div class="page-container">

    <div class="card-details">

        <div class="title">Detalles del Estudiante</div>
        <div class="subtitle">Información completa del registro</div>

        <div class="grid">

            <div class="item">
                <div class="label">Matricula</div>
                <div class="value">@Model.Matricula</div>
            </div>

            <div class="item">
                <div class="label">Fecha Ingreso</div>
                <div class="value">@Model.FechaIngreso</div>
            </div>

            <div class="item">
                <div class="label">Estatus</div>
                <div class="value">@Model.Estatus</div>
            </div>

            <div class="item">
                <div class="label">Grupo</div>
                <div class="value">@Model.IdGrupoNavigation?.IdGrupoBaseNavigation?.Nombre</div>
            </div>

            <div class="item">
                <div class="label">Persona</div>
                <div class="value">@Model.IdEstudianteNavigation?.Nombre @Model.IdEstudianteNavigation?.ApellidoPaterno @Model.IdEstudianteNavigation?.ApellidoMaterno</div>
            </div>

        </div>

        <div class="actions">
            <a asp-action="Edit" asp-route-id="@Model?.IdEstudiante" class="btn btn-edit">Editar</a>
            <a asp-action="Index" class="btn btn-back">← Volver</a>
        </div>

    </div>

</div>