@model IEnumerable<SistemaCE.Models.Estudiante>

@{
    ViewData["Title"] = "Estudiantes";
}

<link rel="stylesheet" href="~/css/index_global.css" />

<div class="page-container">

    <div class="header">
        <h1>Estudiantes</h1>

        <a asp-action="Create" class="btn-create">
            + Nuevo Estudiante
        </a>
    </div>

    <div class="table-container">

        <table class="custom-table">
            <thead>
                <tr>
                    <th >Matrícula</th>
                    <th >Fecha Ingreso</th>
                    <th >Estatus</th>
                    <th >Estudiante</th>
                    <th >Grupo</th>
                    <th class="px-6 py-3 text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Matricula</td>
                        <td>@item.FechaIngreso?.ToString("yyyy-MM-dd")</td>
                        <td>@item.Estatus</td>
                        @* <td>@item.IdEstudianteNavigation?.Nombre</td> *@
                        
                        <td>
                            @string.Join(" ",
                                item.IdEstudianteNavigation?.Nombre ?? "",
                                item.IdEstudianteNavigation?.ApellidoPaterno ?? "",
                                item.IdEstudianteNavigation?.ApellidoMaterno ?? ""
                            )
                        </td>

                        <td>@item.IdGrupoNavigation?.IdGrupoBaseNavigation?.Nombre</td>

                        <td class="actions">
                            <a asp-action="Edit" asp-route-id="@item.IdEstudiante">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdEstudiante">Ver</a>
                            <a asp-action="Delete" asp-route-id="@item.IdEstudiante">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>