@model IEnumerable<SistemaCE.Models.Carrera>

@{
    ViewData["Title"] = "Carreras";
}

<link rel="stylesheet" href="~/css/index_global.css" />

<div class="page-container">

    <div class="header">
        <h1>Carreras</h1>

        <a asp-action="Create" class="btn-create">
            + Nuevo registro
        </a>
    </div>

    <div class="table-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>División</th>
                    <th>Nivel</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>

                        <td>
                            @item.IdDivisionNavigation?.IdDivision
                        </td>

                        <td>
                            @item.IdNivelNavigation?.IdNivel
                        </td>

                        <td class="actions">
                            <a asp-action="Edit" asp-route-id="@item.IdCarrera">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdCarrera">Ver</a>
                            <a asp-action="Delete" asp-route-id="@item.IdCarrera">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>