@model IEnumerable<SistemaCE.Models.Docente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaProfesional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rfc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sueldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDocenteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroEmpleadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaProfesional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rfc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sueldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocenteNavigation.IdPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroEmpleadoNavigation.IdEmpleado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDocente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDocente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDocente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
