@model IEnumerable<SistemaCE.Models.Grupo>

@{
    ViewData["Title"] = "Grupos";
}

<link rel="stylesheet" href="~/css/index_global.css" />

<div class="page-container">

    <div class="header">
        <h1>Grupos</h1>

        <a asp-action="Create" class="btn-create">
            + Nuevo Grupo
        </a>
    </div>

    <div class="table-container">

        <table class="custom-table">
            <thead>
                <tr>
                    <th>Turno</th>
                    <th>Carrera</th>
                    <th>Grupo</th>
                    <th>Periodo</th>
                    <th class="px-6 py-3 text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Turno</td>
                        <td>@item.IdCarreraNavigation?.Nombre</td>
                        <td>@item.IdGrupoBaseNavigation?.Nombre</td>
                        <td>@item.IdPeriodoNavigation?.Periodo1</td>

                        <td class="actions">
                            <a asp-action="Edit" asp-route-id="@item.IdGrupo">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdGrupo">Ver</a>
                            <a asp-action="Delete" asp-route-id="@item.IdGrupo">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@* @model IEnumerable<SistemaCE.Models.Grupo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCarreraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGrupoBaseNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPeriodoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarreraNavigation.IdCarrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGrupoBaseNavigation.IdGrupoBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPeriodoNavigation.IdPeriodo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGrupo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdGrupo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGrupo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
