@model IEnumerable<SistemaCE.Models.Division>

@{
    ViewData["Title"] = "Divisiones";
}

<link rel="stylesheet" href="~/css/index_global.css" />

<div class="page-container">

    <div class="header">
        <h1>Divisiones</h1>

        <a asp-action="Create" class="btn-create">
            + Nueva división
        </a>
    </div>

    <div class="table-container">

        <table class="custom-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Nomenclatura</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Nomenclatura</td>

                        <td class="actions">
                            <a asp-action="Edit" asp-route-id="@item.IdDivision">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdDivision">Ver</a>
                            <a asp-action="Delete" asp-route-id="@item.IdDivision">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>