@model SistemaCE.Models.Persona
@{
    //ViewData["Title"] = "Home Page";
}

<a asp-controller="Login" asp-action="Logout">Cerrar Sesion</a>
<h1 class="text-3xl text-green-500 font-bold">
    Tailwind funcionando 🚀
</h1>

<h2>
    @Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno
</h2>

@if (Model.Estudiante != null)
{
    <h3>
        Grupo: @Model.Estudiante.IdGrupoNavigation?.Grupo1
    </h3>
    <h3>
        Estatus del alumno
        @Model.Estudiante.Estatus
    </h3>

    <h5>Estudiante Evaluzaiones</h5>
    <ul>
        <li>
            <a asp-controller="CalificacionesAlumnos" asp-action="General">Todas calificaciones</a>
        </li>
        <li>
            <a asp-controller="CalificacionesAlumnos" asp-action="Cuatrimestre">Todas cuatrimestre</a>
        </li>
    </ul>

    <h5>Servicios Escolares</h5>
    <ul>
        <li>
            <a asp-controller="CalificacionesAlumnos" asp-action="General">Cambio de Carrera</a>
        </li>
        <li>
            <a asp-controller="CalificacionesAlumnos" asp-action="Cuatrimestre">Cita Titulacion</a>
        </li>
        <li>
            <a asp-controller="CalificacionesAlumnos" asp-action="Cuatrimestre">Estatus Titulacion</a>
        </li>
    </ul>
}
else if (Model.Docente != null)
{
    <h3>
        Eres docente
    </h3>

<h5>Evaluacion</h5>
<ul>
    <li>
        <a asp-controller="CalificacionesAlumnos" asp-action="Create">Calificacion</a>
    </li>
    <li>
        <a asp-controller="CalificacionesAlumnos" asp-action="Cuatrimestre">Cita Titulacion</a>
    </li>
    <li>
        <a asp-controller="CalificacionesAlumnos" asp-action="Cuatrimestre">Estatus Titulacion</a>
    </li>
</ul>
}
else
{
    <h3>
        Administrador
    </h3>

    <ul>
        <li>
            <a asp-controller="Personas" asp-action="Index">Ver Usuarios</a>
        </li>
        <li>
            <a asp-controller="Personas" asp-action="Create">Dar de alta a persona</a>
        </li>
        <li>
            <a asp-controller="CalificacionesAlumnos" asp-action="Cuatrimestre">Estatus Titulacion</a>
        </li>
    </ul>
}