@model SistemaCE.Models.Administrativo

@{
    ViewData["Title"] = "Detalles Administrativo";
}

<link rel="stylesheet" href="~/css/details_global.css" />
<div class="page-container">

    <div class="card-details">

        <div class="title">Detalles del Administrativo</div>
        <div class="subtitle">Información completa del registro</div>

        <div class="grid">

            <div class="item">
                <div class="label">Departamento</div>
                <div class="value">@Model.Departamento</div>
            </div>

            <div class="item">
                <div class="label">Puesto</div>
                <div class="value">@Model.Puesto</div>
            </div>

            <div class="item">
                <div class="label">RFC</div>
                <div class="value">@Model.Rfc</div>
            </div>

            <div class="item">
                <div class="label">Sueldo</div>
                <div class="value">@Model.Sueldo</div>
            </div>

            <div class="item">
                <div class="label">Persona</div>
                <div class="value">@Model.IdAdministrativoNavigation?.Nombre @Model.IdAdministrativoNavigation?.ApellidoPaterno</div>
            </div>

            <div class="item">
                <div class="label">Empleado</div>
                <div class="value">@Model.NumeroEmpleadoNavigation?.TipoEmpleado</div>
            </div>

        </div>

        <div class="actions">
            <a asp-action="Edit" asp-route-id="@Model?.IdAdministrativo" class="btn btn-edit">Editar</a>
            <a asp-action="Index" class="btn btn-back">← Volver</a>
        </div>

    </div>

</div>