@model IEnumerable<SistemaCE.Models.CalificacionAlumno>

@{
    ViewData["Title"] = "General";
}

<h1>General</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parcial1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcial2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcial3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromedioFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDocenteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudianteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMateriaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Parcial1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parcial2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parcial3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromedioFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocenteNavigation.IdDocente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudianteNavigation.IdEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMateriaNavigation.IdMateria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCalificacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCalificacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCalificacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
