@model IEnumerable<SistemaCE.Models.CalificacionAlumno>

@{
    ViewData["Title"] = "General";
}

<h1>General</h1>

<form method="get">
    <select name="grupoId" onchange="this.form.submit()">
        <option value="">-- Todos --</option>

        @foreach (var grupo in ViewBag.Grupos)
        {
            <option value="@grupo.IdGrupo"
                    selected="@(ViewBag.GrupoSeleccionado == grupo.IdGrupo ? "selected" : null)">
                @grupo.Nombre
            </option>
        }
    </select>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Docente
            </th>
            <th>
                Materia
            </th>
            <th>
                Primer Parcial
            </th>
            <th>
                Segundo Parcial
            </th>
            <th>
                Tercer Parcial
            </th>
            <th>
                Promedio Final
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDocenteNavigation.IdDocenteNavigation!.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMateriaNavigation.Nombre)
                </td>
            <td>
                    @SistemaCE.Helpers.CalificacionHelper.ObtenerLiteral(item.Parcial1)
            </td>
            <td>
                    @SistemaCE.Helpers.CalificacionHelper.ObtenerLiteral(item.Parcial2)
            </td>
            <td>
                    @SistemaCE.Helpers.CalificacionHelper.ObtenerLiteral(item.Parcial3)
            </td>
            <td>
                    @SistemaCE.Helpers.CalificacionHelper.ObtenerLiteral(item.PromedioFinal)
            </td>
        </tr>
}
    </tbody>
</table>
